@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Support:</strong>   <a href="mailto:Daniel.P.McNamara+Chirp2017@gmail.com">Daniel.P.McNamara@Gmail.com</a><br />
</address>